---
import "@/styles/globals.css";
import MainLayout from "../layouts/MainLayout.astro";
import { GitCard, LinkedInCard } from "../components/SocialCards";
import { Separator } from "../components/ui/separator";

import init, { calculate_age_rust } from "wasm_fns/pkg/wasm_fns";
import { readFile } from 'node:fs/promises';
import * as path from 'node:path';

const pageTitle = "Home";
const description = "Personal website main page";

const birthDateString = "2003-06-16";
const birthDateObj = new Date(birthDateString);
const today = new Date();

const wasmPath = path.resolve(process.cwd(), "wasm_fns/pkg/wasm_fns_bg.wasm");
const wasmBuffer = await readFile(wasmPath);

await init({ module_or_path: wasmBuffer });
const age = calculate_age_rust(
  birthDateObj.getFullYear(),
  birthDateObj.getMonth() + 1,
  birthDateObj.getDate(),
  today.getFullYear(),
  today.getMonth() + 1,
  today.getDate()
);
  
---

<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
/>
<MainLayout pageTitle={pageTitle} description={description}>
  <main>
    <h1
      class="text-center scroll-m-20 text-4xl tracking-tight sm:text-5xl mb-10 mt-1"
    >
      Welcome to my website
    </h1>
    <p class="text-lg px-5">
      My name is <span class="text-purple-500">Artur Martins</span> and I have just
      finished my Degree in Computer Science and Engineering at
      <a
        href="https://tecnico.ulisboa.pt/en/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-400">@IST</a
      >. Now I am starting my Master's at the same University. Even tough I do
      not consider myself a front-end developer, I realized the importance of
      having a personal website and took my holidays to build this one.
    </p>
    <p class="text-lg p-5">
      My curriculum will mostly be on LinkedIn and my projects on GitHub. The
      main goal of this website is to publish some news about the world of
      technology and my personal life. Hope to expand this website in the
      future.
    </p>
    <h2
      class="text-center scroll-m-20 text-3xl tracking-tight md:text-4xl mt-4"
    >
      A little bit about me
    </h2>
    <p class="text-lg p-5">
      I am from Portugal and I am {age} years old. I am passionate about technology,
      motorsports and love being active. I am a federated athelete in sports shooting.
      My favourite sport is Rally and I watch WRC all the time. I also love riding
      motorcycles. I am a big open-source advocate and Linux user. My favourite programming
      language is undoubtedly C. My dad learned it at
      <a
        href="https://tecnico.ulisboa.pt/en/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-400">@IST</a
      >
      and so did I. I also like C++ and Python. At this moment I am learning Rust
      and I find it quite interesting. I have a C2 level in English. I mostly listen
      to classical music and my favourite composer is Bach. My favourite music is
      <a
        href="https://www.youtube.com/watch?v=QPba-i26YNA"
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-400"
        >Violin Concerto in A Minor RV356</a
      > from Vivaldi.
    </p>
    <h2
      class="text-center scroll-m-20 text-3xl tracking-tight md:text-4xl my-4 mx-2"
    >
      Mastered Technologies
    </h2>
    <div
      class="text-5xl flex flex-wrap justify-center items-center gap-x-6 gap-y-2 mb-4 mx-2"
    >
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-linux-plain"></i>
      <i class="devicon-postgresql-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-git-plain colored"></i>
    </div>
    <div class="px-4 md:px-8">
      <Separator className="my-4 mx-auto w-full max-w-screen-lg" />
    </div>
    <h2
      class="text-center scroll-m-20 text-3xl tracking-tight md:text-4xl my-4 mx-2"
    >
      Technologies I have some experience with
    </h2>
    <div
      class="text-5xl flex flex-wrap justify-center items-center gap-x-6 gap-y-2 mb-4 mx-2"
    >
      <i class="devicon-html5-plain colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-react-original colored"></i>
      <i class="devicon-csharp-plain colored"></i>
    </div>
    <div class="px-4 md:px-8">
      <Separator className="my-4 mx-auto w-full max-w-screen-lg" />
    </div>
    <h2
      class="text-center scroll-m-20 text-3xl tracking-tight md:text-4xl my-4 mx-2"
    >
      Technologies I am currently learning
    </h2>
    <div
      class="text-5xl flex flex-wrap justify-center items-center gap-x-6 gap-y-2 mb-4 mx-2"
    >
      <i class="devicon-rust-plain"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <i class="devicon-go-plain colored"></i>
    </div>
    <div class="px-4 md:px-8">
      <Separator className="my-4 mx-auto w-full max-w-screen-lg" />
    </div>
    <h2
      class="text-center scroll-m-20 text-2xl tracking-tight md:text-3xl mb-4 mt-12 px-2"
    >
      My socials (just these two, do not need much more)
    </h2>
    <div class="flex justify-center">
      <GitCard client:visible />
      <LinkedInCard client:visible />
    </div>
  </main>
</MainLayout>
