---
import '@/styles/globals.css'
import MainLayout from '../layouts/MainLayout.astro';
import ProjectList from '../components/ProjectList';
const pageTitle = "My Projects";
---
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
<MainLayout pageTitle={pageTitle}>
	<h1 class="text-center scroll-m-20 text-4xl tracking-tight md:text-5xl mb-8 mt-1">
        Here are some of projects I have been working on
    </h1>
    <ProjectList client:load/>
</MainLayout>

